/*css file --> abilities.html*/
body{
    background-color: rgb(161, 255, 216);
}
.table-menu{
    width: 100%;
    text-align: center;
    background-color: rgb(255, 224, 174);
}
h1{
    text-align: center;
    font-family: 'Hina Mincho', serif;
    background-color: rgb(222, 255, 192);
}
h2{
    text-align: center;
    font-family: 'Hina Mincho', serif;
}
h4{
    text-align: center; 
    font-family: 'Hina Mincho', serif; 
}
h5{
    text-align: center; 
    font-family: 'Sriracha', cursive; 
    font-weight: normal;
}
.table-skills{
    margin-left: auto; 
    margin-right: auto;
    background-color: rgb(254, 255, 192);
}
