/*css file --> experirences.html*/
body{
    background-color: paleturquoise;
}
.table-menu{
    width: 100%;
    text-align: center;
    background-color: papayawhip;
}
h1{
    text-align: center;
    font-family: 'Hina Mincho', serif;
    background-color: pink;
}
h2{
    font-family: 'Hina Mincho', serif;
}
h4{
    text-align: center; 
    font-family: 'Hina Mincho', serif; 
}
h5{
    text-align: center; 
    font-family: 'Sriracha', cursive; 
    font-weight: normal;
}
.table-content{
    margin-left: auto; 
    margin-right: auto;
    background-color: pink;
}
.ul-circle{
    list-style-type: circle;
    background-color: seashell;
}
.ul-disc{
    list-style-type: disc;
    background-color: seashell;
}
.ul-square{
    list-style-type: circle;
    background-color: seashell;
}
.ol-order{
    list-style-type: circle;
    background-color: seashell;
}
